/* Botao DJ */
#dj-button.is-locked .left,#dj-button.is-full .left,#vote .crowd-response.disabled .bottom {
    background: #222224;
}
#dj-button.is-quit .left, #dj-button.is-leave .left, #dj-button.is-wait .left, #dj-button.is-locked .left, #dj-button.is-full .left {
background: #121214;
border-radius: 8px;
border-left-width: 4px;
}
#dj-button.is-quit .left {
border-left: 3px solid #f43f3f;
}
#dj-button.is-leave .left {
border-left: 3px solid #f43f3f;
}
#dj-button.is-wait .left {
border-left: 3px solid #00b5e6;
}
#dj-button.is-locked .left {
border-left: 3px solid #734ba9;
}
#dj-button.is-full .left {
border-left: 3px solid #CCCCCC;
}
#dj-button {
background: #222224;
border-radius: 8px;
}
#video-only-dj:hover {
    background: rgb(9, 9, 9);}
#video-only-dj {    
    background: #090909;}
#vote .crowd-response {
	background: rgba(255, 255, 255, 0);}
#vote {
	opacity: 0.7;
	transition: all .3s ease-in;}
#vote:hover {
	opacity: 1;
	transition: all 0.1s;}
.row:hover {
	background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(204, 155, 56, 0.27) 100%) !important;}
#chat .mention .msg {
	background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%);}
#user-lists .list.room .user .icon-meh {
	top: -1px !important;
	right: 8px !important;
	left: auto !important;}
#user-lists .list.room .user .icon-grab {
	right: 35px;}
#footer-user .buttons .button .count, #user-menu .item .count, #user-friends .tab-menu button .count, #friends-button .request-count {
    background: #c54040;
}
.emoji-glow img {
    max-width: 40px !important;
    max-height: 40px !important;
}
.chat-suggestion-item .value {    
    margin-left: 20px;
}

#user-lists .group.host ~ .user, #user-lists .group.manager ~ .user, #user-lists .group.bouncer ~ .user, #user-lists .group.dj ~ .user {
	color: #cf0000;
}
